@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto+Mono:300,400,500,700|Roboto+Slab:300,400,500,600,700,800,900|Roboto:300,400,500,700,900&display=swap&subset=latin-ext,vietnamese');

@mixin mobile(){
  @media (max-width: 768px) {
    @content
  }
}
@mixin tablet(){
  @media (max-width: 991px) {
    @content
  }
}
@mixin laptop(){
  @media (max-width: 1200px) {
    @content
  }
}

@mixin full-hd(){
  @media (min-width: 1366px) and (max-width: 1920px) {
    @content
  }
}
