@media screen and (min-width: 768px) {
   
   
}
@media screen and (max-width: 1367px) {
    .slick-slider-1 {
        .inner-detail {
            h1,h2 {
                font-size: 46px;
            }
        }
    }
   
}

@media screen and (max-width: 1025px) {
    
   
}

@media screen and (min-width: 768px) and (max-width: 991px) {}