.about-page {
  .about-background {
    @extend .blue-background;

    & > * {
      position: relative;
      z-index: 2;
    }

    background: $primary;
    position: relative;
    padding-bottom: 60px;

    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: url(../img/bgd-slide-2-l.png) left top no-repeat;
    }

    &:before {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: url(../img/bgd-slide-2-r.png) right bottom no-repeat;
    }
  }

  .vision {
    position: relative;

    .swiper-vision-thumb {

      width: 160px;
      z-index: 2;
      display: none;
      margin-bottom: 20px;
      @include tablet() {
        display: block;
      }

      .swiper-slide {
        display: flex;
        justify-content: center;

        svg {
          color: $white;
        }
      }

      .swiper-slide-thumb-active {
        svg {
          color: $yellow;
        }
      }
    }

    .swiper-pagination {
      position: absolute;
      left: 50%;
      bottom: 30px;
      z-index: 2;
      transform: translateX(-50%);
      display: none;
      @include tablet() {
        display: flex;
      }

    }

    .vision__lists {
      display: flex;
      justify-content: space-between;

      .vision__item {
        width: 32%;
        position: relative;
        display: flex;
        height: 539px;
        justify-content: center;
        align-items: center;

        p {
          margin: 0;
          overflow: hidden;
          min-height: 0 !important;
          height: 0;
          opacity: 0;
          transition: .3s;
        }

        &:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: $primary;
          opacity: 0.6;
          z-index: 1;
        }

        &:before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 290px;
          height: 8px;
          background: $yellow;
          margin-left: -145px;
          z-index: 2;
          transition: all 0.3s ease-in-out 0s;
        }

        &:hover,&.swiper-slide-active {
          p {
            opacity: 1;
            height: 170px;
          }

          &:before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 8px;
            background: $yellow;
            margin-left: 0;
            z-index: 2;
          }
        }

        .inner-img {
          position: absolute;
          height: 100%;
          width: 100%;
          left: 0;
          top: 0;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        .inner-detail {
          position: relative;
          z-index: 2;
          max-width: 290px;
          width: 100%;
          text-align: center;
          color: #fff;

          .name-vision {
            font-size: 32px;
            color: $yellow;
            font-weight: 700;
            font-family: 'Montserrat', sans-serif;
            margin-bottom: 16px;
            margin-top: 20px;
            text-transform: uppercase;
          }

          p {
            min-height: 170px;
          }
        }
      }
    }
  }

  .out-number {
    text-align: center;
    @include tablet() {
      margin-bottom: 35px;
    }

    &__img {
      width: 72px;
      height: 72px;
    }

    &__content {
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      font-size: 96px;
      line-height: 85px;
      color: $yellow;
      word-spacing: 1px;
      padding-top: 20px;

      .small {
        font-weight: 900;
        font-size: 36px;
        margin-left: -26px;
      }
    }

    &__des {
      font-size: 24px;
      line-height: 28px;
      /* identical to box height, or 117% */

      text-transform: uppercase;
      font-weight: 400;
      /* 02.5 */

      color: #FFFAF3;
    }

    @include tablet() {
      &__content {
        font-size: 64px;
        line-height: 64px;

        .small {
          margin-left: -20px;
          font-size: 24px;
          line-height: 24px;
        }
      }
      &__des {
        font-size: 14px;
      }
    }
  }

  .time-line {
    min-height: 620px;
    background-image: url("../img/about/bg-timeline.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 55px 0;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      content: "";
      background: rgba(#192E40, .4);
    }

    $color-timeline: #F3F5F7;

    &__title {
      font-family: Montserrat, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 39px;
      margin-bottom: 78px;
      /* identical to box height */

      text-transform: uppercase;

      /* W */

      color: #F3F5F7;
    }

    &__container {
      height: 250px;
      display: flex;
      position: relative;
      @media (min-width: 991px) and (max-width: 1250px) {
        width: 95%;
      }

      .line {
        width: 100%;
        left: 0;
        height: 1px;
        top: 50%;
        background: $color-timeline;
        position: absolute;
        z-index: 1;
      }

      @include tablet() {
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
        max-width: 350px;
        margin: 0 auto;
        .line {
          height: 100%;
          width: 1px;
          top: 0;
          left: 50%;
        }
      }
    }

    &__wrap {

      width: 100%;
      position: relative;
      cursor: pointer;
      z-index: 2;
      &:hover{
        *{color: $yellow!important;border-color: $yellow!important; &::after,&::before{background: $yellow!important;}}
      }
      &.current {
        flex: 0 0 50px;
      }

      &:nth-child(odd) {
        top: 50%;

        .time-line__item {
          padding-top: 45px;
          flex-direction: row-reverse;

          .year {
            align-items: flex-start;
          }

          &::before {
            top: -9px;
            bottom: unset;
          }

          &::after {
            bottom: -5px;
            top: unset;
          }

          @include tablet() {
            .year span::before {
              left: -9px;
              right: unset;
            }
            .year span::after {
              right: -5px;
              left: unset;
            }
          }
        }

      }

      @include mobile() {
        &:first-child {
          .year {
            flex-direction: column-reverse!important;
          }
        }
      }
    }

    &__item {
      color: $color-timeline;
      position: absolute;
      width: 100%;
      height: 50%;
      padding: 0 15px;
      border-left: 1px solid $color-timeline;
      @include tablet() {
        position: static;
        border-left: none;
        display: flex;
        .year {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
        .year span, .des {
          padding: 15px;
        }
        .year span {
          position: relative;

          &::before {
            position: absolute;
            content: "";
            width: 18px;
            height: 18px;
            -webkit-border-radius: 18px;
            -moz-border-radius: 18px;
            border-radius: 18px;
            background: $color-timeline;
            bottom: -9px;
            right: -9px;
          }

          &::after {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            -webkit-border-radius: 18px;
            -moz-border-radius: 18px;
            border-radius: 18px;
            background: $color-timeline;
            bottom: -5px;
            left: -5px;
          }

          border-bottom: 1px solid $color-timeline;
        }
        & > * {
          &:first-child {
            text-align: right;
          }

          flex: 0 0 50%;
        }
        &::before, &::after {
          display: none;
        }
      }

      &::before {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        background: $color-timeline;
        bottom: -9px;
        left: -9px;
      }

      &::after {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        background: $color-timeline;
        top: -5px;
        left: -5px;
      }

      &.current {
        border: none;
        color: $yellow;
        width: 120px;
        text-align: center;

        &::before, &::after {
          display: none;
        }

        .current-after {
          position: absolute;
          content: "";
          width: 18px;
          height: 18px;
          -webkit-border-radius: 18px;
          -moz-border-radius: 18px;
          border-radius: 18px;
          background: currentColor;
          top: unset;
          left: unset;
          bottom: -9px;
          right: 50%;
          z-index: 2;
          transform: translateX(50%);

          &::before {
            content: "";
            width: 30px;
            height: 30px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            position: absolute;
            background: $yellow;
            opacity: .6;
            z-index: -1;
          }

          &::after {
            content: "";
            width: 42px;
            height: 42px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            border-radius: 50px;
            position: absolute;
            background: $yellow;
            opacity: .3;
            z-index: -1;
          }
        }

        .year {
          border: none;
        }

        .des {
          font-weight: 700;
        }

        @include tablet() {
          display: block;
          text-align: center;
          .current-after {
            bottom: 100%;
          }
          .des {
            text-align: center;
            padding: 0;
          }
          .year span {
            margin-top: -30px;
            padding: 0;
            border: none;

            &::after, &::before {
              display: none;
            }
          }
        }
      }

      .year {
        font-weight: bold;
        font-size: 32px;
        line-height: 37px;
        /* identical to box height */
        text-transform: uppercase;
      }

      .des {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}
