
.profile-page{
  @extend .blue-background;
  padding-bottom: 70px;
  @media (min-width: 991px) {
    padding-bottom: 0;
    height: calc(100vh - 100px);
  }
  .profile--wrapper{
    display: flex;
    flex-direction: column;
  }
  .profile__name{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 2px;
    line-height: 100%;
  }
  .profile__des{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    $color-text: #192E40;
    color: rgba($color-text,.5);
    margin-bottom: 0;
  }
  .des-title{
    color: $yellow;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 3px;
  }
  .profile__list{
    padding-left: 0;
    .profile__item{
      position: relative;
      font-size: 14px;
      line-height: 24px;
      display: block;
      padding-left: 20px;
      &::before{
        content: "";
        position: absolute;
        top: 8px;
        left: 0;
        width: 4px;
        height: 4px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: $yellow;
      }
      time{
        font-weight: 700;
        margin-right: 10px;
      }
    }
  }
}
